<div class="p-3">
  <div class="w-100 text-end mb-3">
    <a href="/create" class="btn btn-success">Create a new address</a>
  </div>
  <table
    mat-table
    [dataSource]="addressesPerActivePage"
    class="mat-elevation-z8"
  >
    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>

    <!-- Building Column -->
    <ng-container matColumnDef="building">
      <th mat-header-cell *matHeaderCellDef>Building</th>
      <td mat-cell *matCellDef="let element">{{element.building}}</td>
    </ng-container>

    <!-- Door Column -->
    <ng-container matColumnDef="door">
      <th mat-header-cell *matHeaderCellDef>Door</th>
      <td mat-cell *matCellDef="let element">{{element.door}}</td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <!-- ZipCode Column -->
    <ng-container matColumnDef="zipcode">
      <th mat-header-cell *matHeaderCellDef>Zip Code</th>
      <td mat-cell *matCellDef="let element">{{element.zipcode}}</td>
    </ng-container>

    <!-- Stairs Column -->
    <ng-container matColumnDef="stairs">
      <th mat-header-cell *matHeaderCellDef>Stairs</th>
      <td mat-cell *matCellDef="let element">{{element.stairs}}</td>
    </ng-container>

    <!-- Province Column -->
    <ng-container matColumnDef="province">
      <th mat-header-cell *matHeaderCellDef>Province</th>
      <td mat-cell *matCellDef="let element">{{element.province}}</td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let element">{{element.username}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<app-pagination></app-pagination>
